* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #ffffff;
    --text-color: #101010;
    --card-bg: #f9f9f9;
    --card-border: #e0e0e0;
    --accent: #f7f332;
    --accent-hover: #f7f305;
    --shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
}

[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --card-bg: #1e1e1e;
    --card-border: #333;
    --accent: #f3f051;
    --accent-hover: #f1ee21;
    --shadow: 0 10px 24px rgba(247, 233, 42, 0.15);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 40px 20px;
    min-height: 100dvh;
    transition: all 0.4s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1200px;
    margin-inline: auto;

    h1 {
        text-align: center;
        margin-bottom: 25px;
        font-size: 32px;
    }

   .description {
        text-align: center;
        margin-bottom: 60px;
        font-size: 20px;
        letter-spacing: 0.5px;
    }
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

    .card {
        background-color: var(--card-bg);
        border: 1px solid var(--card-border);
        border-radius: 12px;
        overflow: hidden;
        transition: all 0.3s ease;
        box-shadow: var(--shadow);

        &:hover {
        transform: translateY(-8px);
    }
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    } 

    .card-content {
        padding: 20px;

        h3 {
            margin-bottom: 10px;
            font-size: 20px;
        }

        p {
            margin-bottom: 15px;
            font-size: 18px;
            letter-spacing: 0.5px;
            line-height: 1.5;
        }

        button {
            background-color: var(--accent);
            color: #101010;
            border: none;
            border-radius: 8px;
            padding: 10px 20px;
            cursor: pointer;
            font-weight: bold;
            transition: all 0.3s ease;

            &:hover {
                background-color: var(--accent-hover);

            }
        }
    }
}

.toggle-btn {
    position: fixed;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 32px;
    transition: transform 0.3s;
    z-index: 100;

    &:hover {
        transform: scale(1.15);
    }

    .sun {
        display: none;
    }

    .moon {
        display: inline;
    }
}

[data-theme="dark"] .sun {
    display: inline;
}

[data-theme="dark"] .moon {
    display: none;
}
