* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #212025;
}

.container-background-triangle {
    max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
    height: 600px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangle {
    width: 300px;
    height: 300px;
    position: absolute;
}

.triangle1 {
    width: 250px;
    height: 250px;
    background: linear-gradient(to left, #c90e0e, #043e5f);
    right: 100px;
    top: 100px;
    animation: t1 8s ease infinite;
}

.triangle2 {
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, #c2503b, #ddd013);
    top: 350px;
    animation: t2 9s ease infinite;
}

.triangle3 {
    width: 300px;
    height: 300px;
    background: linear-gradient(to left, #0ea1e6, #e7217e);
    left: 200px;
    animation: t3 7s ease infinite;
}

@keyframes t1 {
    0%, 100% {
        transform: rotate(45deg) translateY(0);
    }
    50% {
        transform: rotate(45deg) translateY(20px);
    }
}

@keyframes t2 {
    0%, 100% {
        transform: rotate(65deg) translateY(0);
    }
    50% {
        transform: rotate(65deg) translateY(20px);
    }
}

@keyframes t3 {
    0%, 100% {
        transform: rotate(45deg) translateY(0);
    }
    50% {
        transform: rotate(45deg) translateY(20px);
    }
}

.container-cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 350px;
    margin: 10px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.card:hover {
    transform: translateY(-10px);
}

.card:hover .cover-card img {
    transform: scale(1.1);  
}

.cover-card {
    width: 100%;
    height: 180px;
    border-radius: 15px;
    overflow: hidden;
}

.cover-card img {
    width: 100%;
    transition: all 0.5s ease;
}

.card h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
}

.card p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.5px;
}

.card hr {
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: #41414138;
}

.footer-card {
    display: flex;
    color: #fff;
    margin-top: 10px;
    justify-content: space-between;
}

.footer-card h3 {
    font-weight: 400;
    font-size: 15px;
}

@media screen and (max-width: 1200px) {
    .container-cards {
       position: relative;
       top: 0;
       left: 0;
       transform: none;
       margin-top: 100px;
       padding-bottom: 100px;
    }
}